<%= form_for [@category, @recipe] do |f|%>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% else %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :category %><br>
    <%= f.select :category, ['Appetizers', 'Salads', 'Entrees', 'Desserts']%>
  </p>

  <p>
    <%= f.label :difficulty %><br>
    <%= f.select :difficulty, ['Beginner', 'Intermediate', 'Advanced']%>
  </p>

  <p>
    <%= f.label :prep_time %><br>
    <%= f.number_field :prep_time%>
  </p>

  <p>
    <%= f.label :directions %><br>
    <%= f.text_area :directions, :rows => 10, :cols => 45%>
  </p>

  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
