<span class="star-rating">

  <%= form_for @rating, method: :post, :html => { id: "rating-form" }  do |f| %>
    <%= f.submit name: "value", value: "1" %><i></i>
    <%= f.submit name: "value", value: "2" %><i></i>
    <%= f.submit name: "value", value: "3" %><i></i>
    <%= f.submit name: "value", value: "4" %><i></i>
    <%= f.submit name: "value", value: "5" %><i></i>
    <%= f.hidden_field(:user_id, value: @current_user.id) %>
    <%= f.hidden_field(:recipe_id, value: @recipe.id) %>
  <% end %>
</span>
