<%= form_for @component, method: :post do |f| %>

  <p>
    <%= f.label :ingredient %><br>
    <%= f.text_field :ingredient %>
  </p>
  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :measurement %><br>
    <%= f.select("measurement", @measurements.map { |measurement| [ measurement.unit, measurement.unit]})
 %>
  </p>
  <p>
    <%= f.hidden_field(:recipe_id, value: @recipe.id) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
