<h1>Edit</h1>

<%= render 'form' %>
<br>
<p>Ingredients: </p>
<% @recipe.components.each do |component| %>
  <% if component.valid? %>
    <li><%= component.ingredient.name + " " + component.quantity + " " + component.measurement.unit %></li>
      <%= link_to "Remove Ingredient", component_path(component), method: :delete %>
  <% end %>
<% end %>
<%= render 'recipe_component_form', locals: { recipe: @recipe, category: @category } %>

<%= link_to 'Back', category_recipe_path(@category, @recipe) %>
