<h1 id="styled-heading">Edit</h1>

<%= render 'form' %>
<br>
<h3 id="styled-heading">Ingredients: </h3>
<% @recipe.components.each do |component| %>
  <% if component.valid? %>
    <li id="styled-heading"><%= component.ingredient.name + " " + component.quantity + " " + component.measurement.unit %></li>
      <%= link_to "Remove Ingredient", component_path(component), method: :delete %>
  <% end %>
<% end %>
<%= render 'recipe_component_form', locals: { recipe: @recipe, category: @category } %>

<%= link_to 'Remove Recipe', category_recipe_path(@category, @recipe), method: :delete %>

<%= link_to 'Back', category_recipe_path(@category, @recipe) %>
