<div id="recipe_show_content" class="skinny_wrapper wrapper_padding">

  <header>
   <h1><%= @recipe.name %></h1>
   <p>Posted by: <%= link_to @recipe.user.username, user_path(@recipe.user.id), class: 'posted_by' %></p>
  </header>
  <% if @current_user %>
  <%= render 'rating_form' %>
  <% end %>
  <hr>
  <div id="content">
    <p>Difficulty: <%= @recipe.difficulty %></p>
    <p>Ingredients: </p>
      <%= render 'recipe_component' %>

    <p>Category: <%= link_to @recipe.category.name, category_path(@recipe.category)%></p>
    <p>Prep Time: <%= @recipe.prep_time %></p>
    <p>Directions: <%= @recipe.directions %></p>
    <p>Recipe Author: <%= @recipe.author %></p>
  </div>
  <hr>
  <% if @current_user %>
    <%= link_to "Edit", edit_category_recipe_path(@category, @recipe) %>
  <% end %>
</div>
