<h2><%= @user.username %>'s Profile Page</h2>

<table>
  <tr>
    <td>First Name: </td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last Name: </td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><%= @user.email %></td>
  </tr>
</table>
<%= link_to "Edit Information", edit_user_path(@user) %>
<table>
  <tr>
    <th><%= @user.username %>'s Recipes</th>
  </tr>
  <% @user.recipes.each do |recipe| %>
  <tr><%= link_to recipe.name, category_recipe_path(recipe.category, recipe) %>
  </tr>
  <% end %>
</table>
