<div class="search-form">
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:search, "Search for:") %>
    <%= text_field_tag(:search)%>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div class="wrapper wrapper_padding clearfix">

  <div class="home_content-app">
    <h2><%= link_to 'Appetizers', category_path(@appetizers.first.category)%></h2>
    <ul>
      <% @appetizers.each do |recipe| %>
          <h6> <%= link_to recipe.name, category_recipe_path(recipe.category, recipe) %>  </h6>
          <h6> <%= recipe.weighted_ratings %> stars rating </h6>
      <% end %>
    </ul>
  </div>

  <div class="home_content-salad">
    <h2><%= link_to 'Salads', category_path(@salads.first.category)%></h2>
    <ul>
      <% @salads.each do |recipe| %>
          <h6> <%= link_to recipe.name, category_recipe_path(recipe.category, recipe) %>  </h6>
          <h6> <%= recipe.weighted_ratings %> stars rating </h6>
      <% end %>
    </ul>
  </div>

  <div class="home_content-entree">
    <h2><%= link_to 'Entrees', category_path(@entrees.first.category)%></h2>
    <ul>
      <% @entrees.each do |recipe| %>
          <h6> <%= link_to recipe.name, category_recipe_path(recipe.category, recipe) %>  </h6>
          <h6> <%= recipe.weighted_ratings %> stars rating </h6>
      <% end %>
    </ul>
  </div>

  <div class="home_content-dessert">
    <h2><%= link_to 'Desserts', category_path(@desserts.first.category)%></h2>
    <ul>
      <% @desserts.each do |recipe| %>
          <h6> <%= link_to recipe.name, category_recipe_path(recipe.category, recipe) %>  </h6>
          <h6> <%= recipe.weighted_ratings %> stars rating </h6>
      <% end %>
    </ul>
  </div>




</div>
