<!DOCTYPE html>
<html>
<head>
  <title>Sourceipe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header id="main_navigation" class="clearfix">
    <%= link_to "Jared's Blog App", posts_path, :class => "name" %>

    <nav>
          <%= link_to 'All Posters', users_path %>
      <% if login? %>
          <%= link_to current_user.username, current_user %>
          <%= link_to 'Sign out', logout_path %>
      <% else %>
          <%= link_to 'Sign in', login_path %>
          <%= link_to 'Register', new_user_path %>
      <% end %>
    </nav>
    </header>

<%= yield %>

</body>
</html>
