<!DOCTYPE html>
<html>
<head>
  <title>Sourceipe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header id="main_navigation" class="clearfix">


    <nav>
      <%= link_to "Sourceipe", root_path, :class => "name" %>
      <%= link_to "Categories", categories_path, :class => "name" %>
      <%= link_to "Recipes", recipes_path, :class => "name" %>
      <% if logged_in? %>
        <%= link_to current_user.username, user_path(current_user), :class => "name"%>
        <%= link_to "Logout", '/logout', method: :delete, :class => "name"%>
      <% else %>
        <%= link_to "Login", '/login', :class => "name"%>
        <%= link_to "Register", new_user_path, :class => "name" %>
      <% end %>
    </nav>
    </header>

<%= yield %>

</body>
</html>
