<!DOCTYPE html>
<html>
<head>
  <title>Sourceipe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header id="main_navigation" class="clearfix">
    <%= link_to "Sourcepie", root_path, :class => "name" %>

    <nav>
      Login | Register | Search
    </nav>
    </header>

<%= yield %>

</body>
</html>
